@model TaskManager.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot password?";
}

<div class="col-md-4 col-md-offset-4">
    <h2 class="newacc text-center">@ViewBag.Title</h2>
    @using (Html.BeginForm(new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @*<div class="text-danger text-center customerr">@Html.ValidationMessage("ForgotPass")</div>*@

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label inlbl" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter e-mail" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <button type="submit" class="subbtn btn btn-primary">Send link to e-mail</button>
        </div>
    }
</div>
